<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>EatMeApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexSans-Bold.ttf</string>
		<string>IBMPlexSans-BoldItalic.ttf</string>
		<string>IBMPlexSans-ExtraLight.ttf</string>
		<string>IBMPlexSans-ExtraLightItalic.ttf</string>
		<string>IBMPlexSans-Italic.ttf</string>
		<string>IBMPlexSans-Light.ttf</string>
		<string>IBMPlexSans-LightItalic.ttf</string>
		<string>IBMPlexSans-Medium.ttf</string>
		<string>IBMPlexSans-MediumItalic.ttf</string>
		<string>IBMPlexSans-Regular.ttf</string>
		<string>IBMPlexSans-SemiBold.ttf</string>
		<string>IBMPlexSans-SemiBoldItalic.ttf</string>
		<string>IBMPlexSans-Thin.ttf</string>
		<string>IBMPlexSans-ThinItalic.ttf</string>
		<string>stratos-black.otf</string>
		<string>stratos-blackitalic.otf</string>
		<string>stratos-bold.otf</string>
		<string>stratos-bolditalic.otf</string>
		<string>stratos-extrabold.otf</string>
		<string>stratos-extrabolditalic.otf</string>
		<string>stratos-extralight.otf</string>
		<string>stratos-extralightitalic.otf</string>
		<string>stratos-italic.otf</string>
		<string>stratos-light.otf</string>
		<string>stratos-lightitalic.otf</string>
		<string>stratos-medium.otf</string>
		<string>stratos-mediumitalic.otf</string>
		<string>stratos-regular.otf</string>
		<string>stratos-semibold.otf</string>
		<string>stratos-semibolditalic.otf</string>
		<string>stratos-semilight.otf</string>
		<string>stratos-semilightitalic.otf</string>
	</array>
</dict>
</plist>
